{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
</style>
{% endblock stylesheets %}
{% block body %}
  <a href="{{url('instagram_homepage')}}">Home</a>
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
</script>
{% endblock javascripts %}

