{# empty Twig template #}
<article class="post">
  <header>
    <h2>Title</h2>
    <div class="entry-meta">
      <span><i class="fa fa-calendar"> </i> Dec 23, 2014</span>
      <span><i class="fa fa-user"></i> <a class="author-link" href="#" rel="author">Hrvoje Jurisic</a></span>
      <span class="categories-links"> <i class="fa fa-tags"></i> <a href="#" rel="category tag">Life at Inchoo</a></span>
      <span><i class="fa fa-comment"></i> <a href="http://inchoo.net/life-at-inchoo/core/#comments" title="Comment on The Core"><span class="leave-reply">3 Comments</span></a></span>
    </div>
  </header>
</article>