{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/libs/prism/prism.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}
{% block body %}
  {{ include('MainPageBlogBundle:Default:header.html.twig') }}
  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ include('MainPageBlogBundle:Blog:single.html.twig', {post: post, read_more: false}) }}
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
  <script src="/libs/prism/prism.js" type="text/javascript"></script>
  <script type="text/javascript">
  </script>
{% endblock javascripts %}
