{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/libs/prism/prism.css" rel="stylesheet" type="text/css"/>
  <link href="/libs/summernote/summernote.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}
{% block body %}
  {{ include('MainPageBlogBundle:Default:header.html.twig') }}
  <section id="draft">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <legend>Use Parse for the JavaScript Challenge Post</legend>

          <p>
            This post is basically the same from 
            <a href="http://ramirez-portfolio.com/blog/javascript-challenge-ecommerce">
              Javascript Challenge - Ecommerce
            </a>
            , but now we are storing the data using Parse. Because 
            the it’s a JavaScript Challenge, we will use 
            <a href="https://parse.com/docs/js_guide">
              Parse JavaScript SDK.
            </a>
          </p>
          <p>
            Parse describe the ”JavaScript SDK is based on the popular 
            Backbone.js framework. It is compatible with existing Backbone 
            applications with minimal changes on your part”, and we are creating
            this example based on the 
            <a href="https://parse.com/docs/js_guide">
              JavaScript Parse Documentation.
            </a>
          </p>
          <p>
            I am making this JavaScript Simpler by 
            <span class="label label-danger">removing the User Object</span> from
            in 
            <a href="http://ramirez-portfolio.com/blog/javascript-challenge-ecommerce">
              JavaScript Challenge Post
            </a>. I will have 3 Objects, 
            <span class="label label-info">The Products</span>
            to store the products to sell, 
            <span class="label label-info">The Logs</span>
            to store all the products sold, and 
            <span class="label label-info">The Orders</span>
            that has all the Logs in per sell.
          </p>


          <legend>The code</legend>
          <strong>The Model - Config from Parse and Objects Needed</strong>
          <p>
            This has The Parse Application and JavaScript Keys and the Parse 
            Objects with my exteded methods.
          </p>
          <pre class="language-javascript" data-src="/code/javascript-parse/parse-model.js"></pre>
          <strong>The Controller </strong>
          <p>
            Same functions from the
            <a href="http://ramirez-portfolio.com/blog/javascript-challenge-ecommerce"><b>JavaScript Callenge Post</b></a>
            , but with weeks to fetch, create and save in PARSE.
          </p>
          <pre class="language-javascript" data-src="/code/javascript-parse/parse-controller.js"></pre>
          <strong>The Template </strong>
          <p>
            This is the basic render you need to have so the JavaScript can place 
            everything inside your layout.
          </p>
          <pre class="language-javascript" data-src="/code/javascript-parse/tamplate.html"></pre>

          <section id="create-products">
            <legend>Create Products</legend>
            <form id="form-create-product" action="#create-product" method="post" >
              <fieldset id="form-fields">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Product Name" required />
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea id="description" style="resize: vertical;" rows="4" name="description" class="form-control" placeholder="Product Description" required ></textarea>
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input type="file" id="image" class="form-control" required />
                  <div class="image-error" style="display: none;">
                    <span class="label label-danger">File type not valid, please select and Image.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                  <input id="quantity" name="quantity" class="form-control" type="number" min="1" step="1"  placeholder="Product Quantity" required />
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input id="price" name="price" class="form-control" type="number" min="1" step="1"  placeholder="Product Price" required />
                  </div>
                </div>
                <div class="text-right">
                  <span class="label label-warning product-processing" style="display:none;">processing</span>
                  <span class="label label-danger product-error" style="display: none;">Ups, something went wrong, please try again later.</span>
                  <span class="label label-success product-success" style="display: none;">Product created successfuly.</span>
                  <button id="btn-create-product" type="submit" class="btn btn-primary">Create Product</button>
                </div>
              </fieldset>
            </form>
          </section>
          <section id="display-products">
            <legend>The Shop - Last 6 created Produts</legend>
            <div id="products-container" class="row">
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                My Shopping Cart
              </div>
              <div class=" panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th style="width: 75px;">Quantity</th>
                      <th style="width: 55px;">Price</th>
                      <th style="width: 10px;"></th>
                      <th style="width: 55px;">Total</th>
                    </tr>
                  </thead>
                  <tbody class="cart-container">
                  </tbody>
                </table>
                <div class="text-right">
                  <button id="buy-now" class="btn btn-primary disabled">BUY NOW</button>
                </div>
              </div>
            </div>
          </section>
          <section id="display-orders">
            <legend>Backend Simulation - Display Sold Orders - last 6 Orders</legend>
            <div class="panel panel-warning">
              <div class="panel-heading">
                My Shop Summary ( This is a small representation on what could be the backend info )
              </div>
              <div class=" panel-body summary-container">
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          asd
        </div>
      </div>
    </div>
  </section>
  {#<div class="panel panel-default"><div class="panel-heading title">Demo Name</div><div class="panel-body"><img src="" class="img-responsive" /><div class="description">Demo Description</div><div class="clearfix"><ul class="list-inline pull-right"><li><span class="stock-number small">8 in stock demo</span></li><li><button class="add-to-cart btn btn-info disabled"><i class="fa fa-shopping-cart"></i></button></li></ul></div></div></div>#}
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
  <script src="/libs/prism/prism.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.5.min.js"></script>
  <script src="/code/javascript-parse/parse-model.js" type="text/javascript"></script>
  <script src="/code/javascript-parse/parse-controller.js" type="text/javascript"></script>
{% endblock javascripts %}