

<section id="ads-section" class="row" ng-controller="AdsController">
  <div class="col-md-12"  ng-repeat="ad in ads" ng-init="initAdRender(ad, this)">
    <article id="{{ad.id}}" class="panel">
      <div class="decoration">{{ad.count}} / {{ad.limitClicks}}</div>
      <div class="panel-body">
        <header class="header-container text-center">
          <h2>{{ad.title}}</h2>
        </header>
      </div>
      <div class="price text-center">
        {{ad.price| currency}}
      </div>
      <div class="video-container">
        <video controls>
          <source ng-src="{{ad.file.url() | trusted}}" type="video/mp4"/>
        </video>
      </div>
      <div class="panel-body">
        <div class="main-container col-md-12">
          <form ng-submit="submitSurvey(ad)" class="survvay-form css-form" ng-hide="ad.hasUser">
            <div class="form-group">
              <div class="btn-group btn-group-justified" data-toggle="buttons" >
                <label class="btn btn-primary" ng-click="ad.userHasAd.quality = 1" ng-class="{active:ad.userHasAd.quality == 1}">
                  <input type="radio" name="options" autocomplete="off" ng-model="ad.userHasAd.quality" value="1" ng-value="1" required> VERY BAD
                </label>
                <label class="btn btn-primary" ng-click="ad.userHasAd.quality = 2">
                  <input type="radio" name="options" autocomplete="off" ng-model="ad.userHasAd.quality" value="2" ng-value="2" required> BAD
                </label>
                <label class="btn btn-primary" ng-click="ad.userHasAd.quality = 3">
                  <input type="radio" name="options" autocomplete="off" ng-model="ad.userHasAd.quality" value="3" ng-value="3" required> SO-SO
                </label>
                <label class="btn btn-primary" ng-click="ad.userHasAd.quality = 4">
                  <input type="radio" name="options" autocomplete="off" ng-model="ad.userHasAd.quality" value="4" ng-value="4" required> GOOD
                </label>
                <label class="btn btn-primary" ng-click="ad.userHasAd.quality = 5">
                  <input type="radio" name="options" autocomplete="off" ng-model="ad.userHasAd.quality" value="5" ng-value="5" required> EXCELENT
                </label>
              </div>
            </div>
            <div class="form-group">
              <textarea maxlength="150" ng-model="ad.userHasAd.comment" class="form-control" rows="2" ng-maxlength="150" ng-minlength="1" placeholder="Leave your opinion" required></textarea>
              <div class="text-right">
                {{150 - ad.userHasAd.comment.length}}
              </div>
            </div>
            <div class="text-right">
              <button type="submit" name="button" class="btn btn-info">Submit</button>
            </div>
          </form>
          <div class="text-right" ng-show="ad.hasUser">
            <span class="label label-primary">Thank U <span class="glyphicon glyphicon-heart text-primary"></span> your opinion is importante 2 us</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>